<!DOCTYPE html>


<html lang="en" >


<head>

  
<meta charset="UTF-8">

  
<title>SideNav</title>
  

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js">

</script>


</head>

<body>

<!-- partial:index.partial.html -->


<body>

  <div id="wrapper">


    <!-- Sidebar -->

    
<div id="sidebar-wrapper">


      <ul class="sidebar-nav">

 
       <li><a href="/page?id={{.}}">Home</a></li>

     
   <li><a href="/about?id={{.}}">About</a></li>

  
      <li><a href="/contact?id={{.}}">Contact</a></li>

 
     </ul>
    
</div>


    
    <!-- Page Content --><div id="main">
  <div id="page-content-wrapper">

  
    <div class="container-fluid">

    
    <div class="row">

       
   <div class="col-lg-12">

        
     <br><img src="https://usercontent1.hubstatic.com/9210600.png" alt="vtu" width="80" height="80" align="left">
 <h1 p align="center">BANGALORE INSTITUTE OF TECHNOLOGY <img src=".\images\icons\BIT-Bangalore-Logo.png" alt="BIT" width="80" height="80" align="right"></h1>
<h4 p align="center">K.R.ROAD, V.V.PURA, BANGALORE</h4>
  <h3>Teacher Menu</h3>
  <ul class="nav nav-tabs">
<li class="dropdown"><a href="#" class="btn" id="menu-toggle">
<span class="glyphicon glyphicon-menu-hamburger">
</span>
</a>

</li>
    <li class="dropdown"><a href="/paget?id={{.}}" class="btn" id="menu-toggle">home</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" class="btn" id="menu-toggle">students<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/tas?id={{.}}">Add students</a></li>
        <li><a href="/tvs?id={{.}}">view students detials</a></li>
        <li><a href="/tes?id={{.}}">edit students detials</a></li>
<li><a href="/tds?id={{.}}">delete students </a></li>

        <li><a href="/tresult?id={{.}}">result</a></li>                       
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" class="btn" id="menu-toggle">question bank<span class="caret"></span></a>
      <ul class="dropdown-menu">
         <li><a href="/gq?id={{.}}">generate question paper</a></li>
         <li><a href="/vq?id={{.}}">view question paper</a></li> 
        <li><a href="/teq?id={{.}}">edit question paper</a></li>     
        <li><a href="/tdq?id={{.}}">delete question paper</a></li>                        
      </ul>
      <li></li>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ .}}</a></li>
      <li><a href="/logout?id={{.}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
    </li><br>

           

 

      
    </div>
     <div class="col-lg-12">
  <center> <h1>Error in student Updated</h1></center>
</div>

   
   </div>
    
 
 </div>

   
 </div>

 
 </div>

	

	
	

</body>

<!-- partial -->


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'>
</script>
<script  src="./js/script.js">

</script>



  


</body>


</html>